.logo_container{
    background-color: #FAFAFA;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_logo{
    width: 35vw;
}

/* for mobiles */
@media (max-width: 992px) {
    .logo_container{
        display: none;
    }
  }