.container{
    background-color: #F3E5F5;
    width: 50vw;
    height: 100vh;
}

.remover_container{
    margin: .5rem 5rem;
}

.remover_logo{
    width: 110px;
    height: 110px;
    margin-bottom: .5rem;
    margin-left: -.7rem;
}

.info_container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 1.5rem;
    margin-top: 1.4rem;
}

input{
    font-size: 1.2rem;
}

.btn_upload{
    background-color: #9c27b0;
    color: white;
}

.btn_disabled{
    background-color: gray;
    cursor:not-allowed;
}

.btn_download{
    background-color: #00C853;
    color: white;
    margin-top: .2rem;
    width: 100%;
}

.final_img_area{
    background: transparent;
    margin-top: .5rem;
    overflow-y: scroll;
    max-height: 65vh;
    border-radius: 7px;
}

